:root {
    --color-navigator :linear-gradient(to bottom,white 60%,rgb(247, 244, 244) 100%);
    --border-style : 1px solid rgb(230, 227, 227);
    --icon-color: #2e6b56;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

#menu {
    width: 5%;
    border-right: var(--border-style);
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}

.icon{
    color:var(--icon-color); 
    font-size: 28px; 
    height: 45px;
    width: 100%;
    /* border-radius: 50%; */
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}

.icon:hover {
    background-color:var(--icon-color);
    color: #fff;
}

.material-icons {
    font-size: 48px !important;
}

.icon.active {
    background-color:var(--icon-color);
    color: #fff;
}

#functions {
    width: 25%;
    border-right: var(--border-style);
    position: relative;
}

.activeFunction {
    visibility: visible !important;
    right: 0% !important;
}

.function {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:100vh;
    position: absolute;
    right: 100%;
    top: 0;
    visibility: hidden;
}

#account {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

#account .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}

#account .name {
    font-weight: bold;
    font-size: 2em;
}

.modButton {
    width: 104px;
    height: 38px;
    border-radius: 10px;
}

.modButton:hover {
    background-color: red;
}

.title {
    height: 10vh;
    padding: 0 5px 0 5px;
    font-weight: bold;
    font-size: 2em;
    margin: 10px 0 0 5px;
}
.searchBar{
    height: 40px;
    width: 95%;
    align-items: center;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    font-size: 15px;
    margin: -15px 0 10px 9px;
}

.container {
    height: 90vh;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.friend {
    height: 60px;
    padding: 2px 5px 0 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px 0;
    cursor: pointer;
    background: linear-gradient(to bottom,white 80%);
    border-bottom: 2px solid black;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.friend:hover {
    transition-duration: 0.2s;
    translate: 15%;
    transform: scale(1.2);
}

.friend .avatar {
    margin: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: greenyellow;
}

.friend .avatar.notify::before {
    content: '!';
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 65%;
    left: 70%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}

.friend .name {
    font-weight: bold;
}

#chatDisplay {
    width: 45%;
    border-right: var(--border-style);
}

#currentContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    padding: 0 5px 0 5px;
    border-bottom: var(--border-style);
}

#contactAvatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 10px;
}

.contactTitle {
    display:block;
}
#status{
    color: rgb(0, 192, 0);
}

#contactName {
    font-weight: bold;
    font-size: 16pt;
}

#messageDisplay {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
}

#messageDisplay::-webkit-scrollbar {
    display: none;
}

.messageBox {
    /* max-width: 60%; */
    display: flex;
    flex-direction: row;
    margin: 5px 5px 0 15px;
}

.messageAvatar {
    /* flex: 60px; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 5px;
}

.messageContainer {
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
}

.messageRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.messageRow > div {
    display: inline-block;
    max-width: 100%;
    padding: 7px 10px;
    margin: 0 0 3px 3px;
    border-radius: 20px;
    background-color: rgb(218, 213, 213);
    word-break: break-word;
}

.myMsg {
    justify-content: flex-end;
}

.messageRow.myMsg > div {
    background-color: rgb(150, 247, 174);
}

#functionsBar {
    padding: 5px;
    border-top: 1px solid gray;
}

#inputMessage {
    width: calc(90% - 50px);
    height: calc(5vh - 10px);
    border-style: none;
    border: 1px solid black;
    padding: 3px;
    border-radius: 15px;
    padding: 5px 13px;
}

#inputMessage:focus {
    outline: none;
    border-color: blue;
}

#sendMessageButton {
    width: calc(12%);
    height: calc(5vh - 1px);
    border-style: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(92, 240, 92);
    border-radius: 15px;
}

#sendMessageButton:hover {
    background-color: red;
}

#sendMessageButton:focus {
    outline: none;
}

#infomation {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

#infomation .avatar{
    height: 100px;
    width: 100px;
    display: flex;
}

#infomation .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}

#infomation .name {
    font-weight: bold;
    font-size: 2em;
}

#friendRequestContainer.container {
    height: 30vh;
}

#contactListContainer.container {
    height: 50vh;
}

/* .infoList:hover{
    background-color: rgb(122, 122, 122);
    border-radius: 20px;
    padding: 0 -10px;
} */

@media only screen and (max-width : 768px) {
    
}

@media only screen and (max-width : 480px) {
    
}
